<div id="topheader">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        {% if site.lang == "de" %}
        <a class="navbar-brand" href="{{ site.baseurl }}">Coala e.V.</a>
        {% elsif site.lang == "en" %}
        <a class="navbar-brand" href="/">Coala e.V.</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if site.lang == "de" %}
                <li class="nav-item"> <a class="nav-link" href="{{ site.baseurl }}">{% t pages.home %}</a> </li>
                {% elsif site.lang == "en" %}
                <li class="nav-item"> <a class="nav-link" href="/">{% t pages.home %}</a> </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t pages.projects %}</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{site.baseurl}}/project-coala">{% t pages.projects-coala %}</a>
                    <a class="dropdown-item" href="{{site.baseurl}}/project-school">{% t pages.projects-school %}</a>
                    <a class="dropdown-item" href="{{site.baseurl}}/project-research">{% t pages.projects-research %}</a>
                  </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/network">{% t pages.network %}</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/organization">{% t pages.organization %}</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/contact">{% t pages.contact %}</a> </li>
            </ul>
            {% include language-toggle.html %}
        </div>
    </nav>
</div>
