{% if site.lang == "de" %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 0">
            <i class="fa fa-flag align-middle" aria-hidden="true"></i>
            <span class="align-middle">Deutsch</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Deutsch</a>
            {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
            <a class="dropdown-item" href="{{ link1 }}" >English</a>
        </div>
    </div>
{% elsif site.lang == "en" %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 0">
            <i class="fa fa-flag align-middle" aria-hidden="true"></i>
            <span class="align-middle">English</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% capture link2 %}{{ site.baseurl_root }}de{{ page.url }}{% endcapture %}
            <a class="dropdown-item" href="{{ link2 }}">Deutsch</a>
            <a class="dropdown-item">English</a>
        </div>
    </div>
{% endif %}
