---
---

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.footer {
    height: 30px;
}

.main {
    flex: 1;
    margin-top: 56px;
}
